---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404" description="Not found">
    <section>
        <h1>404 Not found</h1>
    </section>
</Layout>

<style>
    section {
        flex: 1;
        display: grid;
        place-items: center;
    }

    h1 {
        font-size: xx-large;
        font-weight: 100;
    }
</style>
