---
import guy from "../assets/under-construction-guy.gif";
import text from "../assets/under-construction-text.gif";
---

<section>
	<img src={guy.src} fetchpriority="high" />
	<img src={text.src} fetchpriority="high" />
</section>

<style>
	section {
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
