---
import guy from "../assets/under-construction-guy.gif";
import text from "../assets/under-construction-text.gif";
---

<main>
	<img id="background" src={guy.src} alt="" fetchpriority="high" />
	<img id="background" src={text.src} alt="" fetchpriority="high" />
</main>

<style>
	main {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
</style>
