---
import { ClientRouter } from "astro:transitions";

interface Props {
	title?: string;
	description?: string;
}

const siteTitle = "João Zenaro";
const { title = siteTitle, description = "Welcome to my personal page" } =
	Astro.props;

const pageTitle = title === siteTitle ? siteTitle : `${title}`;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{pageTitle}</title>
		<ClientRouter />
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--bg: #242424;
		--fg: #dbdbdb;
		--accent: #156acc;
		--font-sans: "Inter", system-ui, sans-serif;
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	body {
		min-height: 100vh;
		background: var(--bg);
		color: var(--fg);
		font-family: var(--font-sans);
		font-size: medium;
		display: flex;
		flex-direction: column;
	}
</style>
